@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @media (prefers-color-scheme: dark) {
      --background: 9 15 21;
      --foreground: 248 250 252;
      --primary: 15 23 42;
      --secondary: 30 41 59;
      --tertiary: 51 65 85;
      --accent: 71 85 105;
    }

    --background: 248 250 252;
    --foreground: 2 6 23;
    --primary: 226 232 240;
    --secondary: 203 213 225;
    --tertiary: 148 163 184;
    --accent: 100 116 139;

    /* Btn Variant Colors */
    --btn-ghost-bg: 23 37 84 / 0.2; /* bg-cyan-500 */
    --btn-primary-bg: 21 128 61; /* bg-green-700 */
    --btn-warning-bg: 185 28 28; /* bg-red-700 */

    /* SPACING */
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 2.5rem;

    /* FONT SIZE */
    --font-sm: 0.75rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-2xl: 1.75rem;
    --font-3xl: 2rem;
    --font-4xl: 2.25rem;

    /* DIMENSION SIZES */
    --size-3xs: 4rem;
    --size-2xs: 10rem;
    --size-xs: 16rem;
    --size-sm: 22rem;
    --size-md: 28rem;
    --size-lg: 34rem;
    --size-xl: 40rem;
    --size-2xl: 60rem;
    --size-3xl: 80rem;
    --size-full: 100%;
  }

  body {
    @apply text-foreground bg-background;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3,
  h4 {
    @apply text-xl;
  }

  h5,
  h6 {
    @apply text-lg;
  }

  input {
    @apply px-2 py-1 rounded border dark:text-background;
  }

  button {
    @apply btn;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .demo,
  .demo-col,
  .demo-row {
    @apply border-foreground;
  }
}
